
* {
      margin: 0;
  }

  /* header {
    width: 10%;
    height: 20vh;

  }
  */
  /* .logo { 
    font-family: sans-serif;
    font-size: 1.5em;
    text-align: center;
    font-style: normal; 
    font-weight: bold; 
    color:black;
    text-decoration: underline     
  }
  h3{
    padding-top: 0%;
    padding-bottom: 120%;
    text-align: center;
  }
  */
  body {
      width : 100%;
      height : 100vh;
      background: grey;
      display: flex;
      align-items: center;
      justify-content: center;

  }
  /* h3{
    text-align: top;
    font-size: large;
    top: 10;
  } */

  form {
      width: 300px;
      height: 70vh;
      padding: 40px;
      border-radius: 20px;
      background: whitesmoke;
  }
  input {
    color:red;
  }